<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Hello world!!! Templates</h1>
        <form method="POST" action="/person">
            <input type="text" name="firstname"/>
            <input type="text" name="lastname"/>
            <button type="submit">send</button>
        </form>
    </body>
</html>